<h1>edit.html.erb</h1>
</br>
<p> Following RESTful convention, this is the view you would dedicate to placing a form to update one or more of your Models.  Within the scope of this class, the edit form will be very similar to the 'new' form.</p>
</br>

<h3> Here is the form: </h3>