<h1> foobar.html.erb </h1>

<a href="/"><button>Return to Index</button></a>

<p> I had to explicitly tell "widget#bar" to render this view, since it doesn't follow RESTful convention.</p>

</br>

<h3> Well, nothing more to see here.  This view page was just to distinguish RESTful fron non-RESTful behavior.</h3>