<h1> index.html.erb </h1>
</br>
<p> This is the index page!  It is likely the first view page you are looking at in this app.  Within the scope of this class and the apps you'll be making, this is typically the page where you can display some, most, or all of your Model data, so that users can inspect a specific one (presumably to show or edit it).</p>

</br>

<h3> Here is a button to redirect to 'new.html.erb' for the form to create a new Widget </h3>

<h3> The information below is extracted from the instance variable @all_widgets, which was passed from the 'index' method:</h3>