<h1> new.html.erb </h1>
</br>
<p> This is the 'new' view page.  Conventionally, this is where you would place your form that would CREATE a new record in your database.</p>
</br>

<h3> Here is the form:</h3>