<h1> show.html.erb </h1>
</br>
<p> This is the 'show' page.  Conventionally, you will need to have a specific ID in the route that leads here, so that the information displayed on this page will only be for a specific record in your database.</p>
<p> You likely clicked on one of the widgets from the Index page to get here.  When you clicked on it, it routed to 'GET "/widgets/:id"' where ':id' is the serial number in the database that I was able to use to look up the correct record to display here.</p>
</br>

<h3>Does the information below match what you clicked?</h3>